# Gitignore format:  https://labs.consol.de/development/git/2017/02/22/gitignore.html
# target/               folder (due to the trailing /) recursively
# target                file or folder named target recursively
# /target               file or folder named target in the top-most directory (due to the leading /)
# /target/              folder named target in the top-most directory (leading and trailing /)
# *.class               every file or folder ending with .class recursively
# target/**/logs/       every folder named logs somewhere under a folder named target (** includes /)

###################
# Google          #
###################
*.gdoc
*.gslides
*.gsheet

###################
# Mercurial       #
###################
# Mercurial
.hg
.hg/hgrc
hgrc

###################
# Large bio files #
###################
*.fa
*.fasta
*.fq
*.fastq
*.bam
*.sam
*.bed
*.bw
*.bigWig
*.bigBed
*.bb

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Weird files
*.swp
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.pyc

# Packages/compressed files #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.gz
*.bz2
*.Z
*.xz

######################
# Code / XCode / etc #
######################
*.class
*.jar
*.war
*.ear
*.iml
.idea/
.eclipse

######################
# Logs and databases #
######################
*.logs
*.log
*.sql
*.sqlite

######################
# OS generated files #
######################
.DS_Store
.DS_Store*
.Spotlight-V100
.Trashes
thumbs.db
Thumbs.db
Icon[]
# FYI: Input the Mac CR (carriage return) with Ctrl-Q Ctrl-M in emacs

# Weird backup files maybe
.#*
*~
._*
*.bak
